---
layout: default
---
<!-- index.html -->
<div ng-app="">
	<div>
		<h2>topic_io</h2>
		<input ng-model="topicName" placeholder="topic name...">
		<input ng-model="ip" placeholder="target ip (ex: 192.168.0.100)...">
		<input ng-model="port" placeholder="target port (ex: 8080)..." type="number">
		<input ng-model="interval" placeholder="optional: minimum interval in seconds...">
		
		<h3 ng-bind="'rosrun itech_ros_io topic_io.py '+topicName+' '+ip+' '+port+' '+interval"></h3>
	</div>
</div>
<!-- index.html -->