---
layout: default
---
<!-- index.html -->
<div ng-app="" id="app">
	<div>
		<h2>topic_io</h2>
		<input ng-model="topicName" placeholder="topic name...">
		<input ng-model="ip" placeholder="target ip (ex: 192.168.0.100)...">
		<input ng-model="port" placeholder="target port (ex: 8080)..." type="number">
		<input ng-model="interval" placeholder="optional: minimum interval in seconds...">
		
		<h3 onclick="selectText(this)" ng-bind="'rosrun itech_ros_io topic_io.py '+topicName+' '+ip+' '+port+' '+interval"></h3>
	</div>
</div>

<script type="text/javascript">
    function selectText(containerid) 
	{
        if (document.selection)
        {
            var range = document.body.createTextRange();
            range.moveToElementText(containerid);
            range.select();
        }
        else if (window.getSelection)
        {
            var range = document.createRange();
            range.selectNode(containerid);
            window.getSelection().addRange(range);
        }
    }
</script>
<!-- index.html -->