<launch>
	<!--UEYE Node-->
	<include file="$(find ueye)/launch/nodelets-40fps.launch">
	</include>

	<!--Detector Node-->
	<include file="$(find itech_ros_io)/launch/marker_pos_detector.launch">
		<arg name="camera" value="/camera"/>
		<arg name="size" value="0.198"/>
	</include>

	<node name="itech_ros_io" pkg="itech_ros_io" type="marker_pos.py"/>
	<node name="itech_topic_to_udp" pkg="itech_ros_io" type="topic_to_udp.py" args="/itech_ros/marker_pos/pose_corrected 192.168.1.100 8080"/>




	<!--Mavros Node-->
	<include file="$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" value="serial://../../dev/ttyUSB0:921600"/>
		<arg name="gcs_url" value="udp://@192.168.1.106:14550"/>
	</include>

	<node name="itech_topic_from_udp" pkg="itech_ros_io" type="topic_from_udp.py" args="192.168.1.105 9090"/>
	<node name="itech_mavros_offboard" pkg="itech_ros_io" type="mavros_offboard.py"/>
</launch>
