<launch>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
	
	<include file="$(find ueye_cam)/launch/mono8.launch"/>
		
	<include file="$(find apriltag_ros)/launch/detector.launch">
		<arg name="size" value="0.198"/>
	</include>

	<include file="$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" value="serial://../../dev/ttyUSB0:921600"/>
	</include>
</launch>
