<launch>
	<!--Mavros Node-->
	<!-- roslaunch mavros px4.launch fcu_url:=serial://../../dev/ttyUSB0:921600 gcs_url:=udp://@192.168.1.106:14550 -->

	<include file="$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" value="serial://../../dev/ttyUSB0:921600"/>
		<arg name="gcs_url" value="udp://@192.168.1.106:14550"/>
	</include>

	<node name="itech_topic_from_udp" pkg="itech_ros_io" type="topic_from_udp.py" args="192.168.1.105 9090"/>
	<node name="itech_mavros_offboard" pkg="itech_ros_io" type="mavros_offboard.py"/>
</launch>
